<%= render 'shared/errors' %>

<div class="row justify-content-center rounded" id="form_background">
  <div class="col-10">
    <%= form_with(model: @article, local: true) do |f| %>
    <div class="row mt-2">
      <%= f.label :title, class: "ml-2 col-2 col-form-label" %>
      <div class="col-10">
        <%= f.text_field :title, class: "form-control" %>
      </div>
    </div>

    <div class="row mt-2">
      <%= f.label :description, class: "ml-2 col-2 col-form-label" %>
      <div class="col-10">
        <%= f.text_area :discription, rows: 10, class: "form-control" %>
      </div>
    </div>
    <div class="row justify-content-center mt-2">
      <div class="col-auto mb-2">
      <%= f.submit class: "btn btn-outline-success"%>
      </div>
    </div>
    <% end %>
  </div>
</div>
